body {
    background-image: url('images/aurora.png');
    background-size: cover;
    background-repeat: no-repeat;
    }

    h1 {
        color: #ffffff;
        font-weight: 400;
        line-height: 1.5;
        margin: 0 0 0 0; /* rrem*/
        letter-spacing: 0.1rem;
        font-family: Arial, sans-serif;
        font-size: 2.15rem;
        line-height: 1.3;
        letter-spacing: 0.5rem;
        padding-top: 28px;
        padding-bottom: 28px;
        border-top: solid 1px #ffffff;
        border-bottom: solid 1px #ffffff;
        position: relative; 
    }
    
    
    h1::before {
    content: "";
    position: absolute;
    top: 101px;
    height: 100%;
    width: 1px;
    background-color: #ffffff;
    left:  307px; /* Adjusted to be outside the h1 element */
}

h1::after {
    content: "";
    position: absolute;
    bottom: 101px;
    height: 100%;
    width: 1px;
    background-color: #ffffff;
    right: 297px; /* Adjusted to be outside the h1 element */
}
    
.nav{
    margin-top: 85px;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
    margin-top: -40px;
  }

  .content {
    text-align: center;
  }
  
  .horizontal-list {
    list-style: none; /* Removes default bullet points */
    padding: 0;
    display: flex;
  }
  
  .horizontal-list li {
    margin-right: 10px; /* Add space between items if needed */
  }
  
h2 {
        color: #ffffff;
		font-size: 0.6rem;
		line-height: 1.4;
		letter-spacing: 0.5rem;
        font-weight: 300;
        font-family: Arial, sans-serif;
	}

footer p.link {
		letter-spacing: 0.2rem;
		font-size: 0.6rem;
		opacity: 0.75;			
        margin-bottom: 0;
		text-transform: uppercase;
		}

        a {
            color: #ffffff;
        }

/* ensure that the content does not exceed the height of my laptop's viewport(will change to fit different devices later)*/

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header {
    flex-shrink: 0; /* Prevent header from shrinking */
    height: 70%; 
}

main {
    flex-grow: 1; /* Allow main content to grow and fill remaining space */
    overflow-y: hidden;
    height: 20%; /* no scrolling */
}

article {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 400px; /* STOPPED  FOR IMAGES*/
    z-index: 1000; /* Ensure the article appears above other content */
    overflow: hidden;
    box-sizing: border-box; /* Include padding in the width and height */
}

article img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

article.show-article {
    display: block; /* Show the article when it has the 'show-article' class */
}

/* Close button styles */
.close-button {
    display: none; /* Hide the close button by default */
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
    background-color: #fff; /* Background color */
    color: #000; /* Text color */
    border: 1px solid #000; /* Border */
    padding: 5px 10px; /* Padding */
    border-radius: 5px; /* Border radius */
    font-size: 16px; /* Font size */
}

.close-button:hover {
    background-color: #000; /* Hover background color */
    color: #fff; /* Hover text color */
}



footer {
    flex-shrink: 0; /* Prevent footer from shrinking */
    height: 10%;
    text-align: center;
    margin-top: -8px;
}