body {
    background-image: url('images/aurora-sky.jpeg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo {
    position: absolute; /* Position the image */
    top: 13%; 
    left: 49.5%; 
    transform: translate(-50%, -50%); /* Center it precisely */
    height: 18.5%;
    width: auto; 
    max-width: 8.5%;
    border-radius: 50%; /* Make the image appear as a circle */
    filter: brightness(0) invert(1);
    z-index: 10000;
}

h1 {
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-family: Arial, sans-serif;
    font-size: 2.15rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: solid 1px;
    border-bottom: solid 1px;
    position: relative; 
    margin-bottom: 20%;
    margin-top: 80%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.h1-extra-line.circle {
    position: absolute;
    top: 13%; 
    right: 50.5%; /* Adjusted to be outside the h1 element */
    transform: translateX(50%) translateY(-50%); /* Adjusted to center the circle */
    height: 15%; 
    width: 6%; 
    border: 1px solid white;
    border-radius: 50%; /* Make it a circle */
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.13);
}


.nav {
    color: #ffffff;
    font-weight: 400;
    margin-top:-3%; 
    margin-bottom: 20%; 
    letter-spacing: 0.1rem;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.2rem;
    padding-top: 0px;
    padding-bottom: 11%;
    padding-left: 0.5%;
    height: 100vh;
    position: relative; 
    width: 80vw;
    height: 13%;
    box-sizing: border-box;
   
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
    margin-top: -4%; 
}

.content {
    text-align: center;
}

.horizontal-list {
    padding: 0;
    margin: center;
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

.horizontal-list button {
    background-color: rgba(0, 0, 0, 0.37);
    border: 1px solid white;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 1.33%;
    margin-top: -1%;
    margin-bottom: 2%;
    text-decoration: none;
    padding: 10px 12px;
    width: 22%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}


.horizontal-list button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 520;
}

.box {
    width: 60vmin;
    height: 50vmin;
    display: grid;
    place-content: center;
    color: white;
    border: solid 1px transparent;
    border-radius: 0.5em;
    background: 
        var(--main-bg) padding-box,
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    background-position: center center;
}

/* Define animation outside */
@keyframes border-spin {    /* not actually for spinning though - i just used an animation i found online, had to change it a bit though */
    0% {
        border-color: lawngreen;
    }
    25% {
        border-color: darkorchid; 
    }
    50% {
        border-color: lawngreen; 
    }
    75% {
        border-color: darkorchid; 
    }
    100% {
        border-color: lawngreen; 
    }
}

@keyframes border-spin-light {
    0% {
        border-color: red; 
    }
    25% {
        border-color: gold; 
    }
    50% {
        border-color: red; 
    }
    75% {
        border-color: gold;
    }
    100% {
        border-color: red; 
    }
}

/* Apply animation only on hover (tried dark-theme way, didn't work)*/
.box:hover {
    animation: border-spin 5s infinite;

}

/* Apply animation for light theme */
.light-theme .box:hover {
    animation: border-spin-light 5s infinite;
}



h2 {
    color: #ffffff;
    font-size: 0.6rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    font-weight: 300;
    font-family: Arial, sans-serif;
}

/* ensure that the content does not exceed the height of viewport */

body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header {
    flex-shrink: 0; /* Prevent header from shrinking */
    height: 100vh;
}

main {
    flex-grow: 1; /* Allow main content to grow and fill remaining space */
    overflow-y: hidden;
    height: 20%; /* no scrolling */
}

/* ARTICLE */

article {
    display: none;
    position: fixed;
    top: 25%;
    left: 30.5%;
    max-width: 600px;
    z-index: 1000;
    box-sizing: border-box;
    transition: opacity 0.3s ease, transform 0.4s ease; /* transition properties */
}

article img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

article.show-article {
    display: block;
    opacity: 1;
    transform: scale(1); /* Use transform for animation */
}

article:hover {
    cursor: pointer;
    transform: scale(0.95); /* Use transform for animation */
}

/* CLOSE BUTTON */
.close-button {
    display: none;
    position: fixed;
    top: 1.33%;
    right: 1.33%;
    cursor: pointer;
    z-index: 9999;
    background-color: #fff;
    color: #000;
    border: 0.1% solid #000;
    padding: 0.3% 0.67%;
    border-radius: 5px;
    font-size: 1.07vw;
    transition: background-color 0.3s ease, color 0.3s ease; /* transition properties */
}

.close-button:hover {
    background-color: goldenrod;
    color: #fff;
}


.sidebar {
    width: 300px; 
    background-color: grey; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    top: 0; /* Align the sidebar */
    left: 0; /* Align the sidebar */
    bottom: 0; /* Extend the sidebar to the bottom of the viewport */
    z-index: 100000; /* Ensure the sidebar appears above other content */
    display: none;
}

/* Light Theme & Dark Theme */
.light-theme {
    background-image: url('images/Sand-Dunes-Wallpaper.png');
    color: #ffffff;
}

.light-theme .sidebar {
    background-color:saddlebrown;
}

.light-theme .close-button {
    background-color: #fff;
    color: #000;
}

.dark-theme {
    background-image: url('images/aurora-sky.jpeg');
    color: #ffffff;
}

.dark-theme .sidebar {
    background-color: grey;
}

.dark-theme .close-button {
    background-color: #222;
    color: #fff;
}

/* theme btn & closesidebarbtn */

.theme-button,
.closeSidebarBtn {
    width: 80%;
    height: 50px;
    background: #ebebeb;
    border-radius: 25px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-bottom: 5px;
}



/* Adjustments for smaller screens */
@media only screen and (max-width: 768px) {
    body {
        background-size: cover;                                  
        background-attachment: fixed; /* or scroll */
    }

    .logo {
        /* Adjust logo styles for smaller screens */
        height: 15%;  
        margin-left: 6.5%;                                            /* not working? */
        transform: scaleX(3);
        transform: scaleY();
    }

    .h1-extra-line.circle {
        /* Adjust circle styles for smaller screens */
        top: 13%;                                                  /* not working the way i want */
        right: 37%;
        transform: scaleX(3);
    }

    h1 {
        /* Adjust h1 styles for smaller screens */
        font-size: 1.5rem;
        margin-top: 80%;
        margin-right: -1%;
        margin-left: 10%;
    }

.nav {
    /* Adjust nav styles for smaller screens */
    margin-top: -3%;
    margin-bottom: 10%;
    margin-right: 15%;
}
.horizontal-list button {
    /* Adjust button styles for smaller screens */
    font-size: 0.8rem;
    width: 45%;
    margin-right: 1%;
}
article.show-article {
    display: block;
    opacity: 1;
    transform: scale(2); /* Use transform for animation */
    margin-right: 25%;
    margin-top: 25%;
}
#toggleSidebarSvg {
    margin: 0 0 123% 0;
}
.sidebar {
    width: 150px; 
    background-color: grey; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    top: 0; /* Align the sidebar */
    left: 0; /* Align the sidebar */
    bottom: 0; /* Extend the sidebar to the bottom of the viewport */
    z-index: 100000; /* Ensure the sidebar appears above other content */
    display: none;
}
}





